.pagesixpartoneimg-style{
   margin-left: 5.5rem;
   
    
}

.pagesixpartone-style{
    background-color: black;
    width: 50%;
    height: 36.5rem;
}

.style-a-five{
    display: flex;
    justify-items: column;
    margin-left: 15rem;
}