*{
    margin: 0;
    padding: 0;
   
}



.nav-menu{
  display: flex;
  justify-items: column;
  justify-content: space-around(1px);
  background-color:rgb(43, 38, 38);
  padding-left: 15rem;
  /* position: fixed;
  padding-right: 26rem;
  padding-top: 6rem;
  height: 1rem; */
  

}
.nav-menu>p{
    color: rgb(211, 205, 205);
    margin-left: 1rem;
  /* margin-right: 1rem; */
  font-size: small;
  margin-top: 16px;
  
  
}
.nav-menu>p:hover{
    color: white;
}

