*{
    margin: 0;
    padding: 0;
}
.img-style{
    
    display: flex;
    justify-content: center;
    /* margin-top: 3rem; */
    
}
.style-iPhone{
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    margin-top: 2rem;
    /* word-spacing: 2px; */
}
.style-Big-and-bigger{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    font-weight: 500;
   
}
.style-learn-more{
    display: flex;
    justify-content: center;
    margin-right:5rem;
}

.style-link{
    display: flex;
    justify-items: column;
    justify-content: center;
    justify-content: space-around(20px);
    font-size:22px;
    font-weight: 500;
}